
<%docx = (@docx_load ? @docx_load : @docx)%>
<% err = docx.errors.any?%>

<%= form_for(docx, html: { multipart: true,class: "form-inline" }, :remote => true) do |f| %>

    <div class="form-group margin-top-20">
      <h3><%=t 'app.change.title'%></h3>
    </div>
    <div class="cl"></div>
    <%if docx.id.nil? %>
        <i><%=t 'app.docx.changes_info'%></i>
    <%else%>
        <%= f.submit t('app.docx.change'), :class=>"btn btn-danger float-left", :id=>"change_btn", :disabled=>"disabled" %>
        <div class="ajax-load" id="ajax-changing"><%=t('app.change.running')%></div>
    <% end %>
    <div class="cl"></div>
    <div class="form-group margin-top-20">
      <div class="panel panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">
            <div class="checkbox">
            <label>
              <input type="checkbox" id="change-all" <%=(docx.id.nil? && !err) ? "disabled" : "" %> >&nbsp;<%=t 'app.change.all'%>
            </label>
          </div></h3>
        </div>
        <div class="panel-body">
          <%Change.obj_parents.each do |change| %>
              <div class="checkbox block-checkbox">
                <label id="label-change-<%=change.id%>">
                  <input type="checkbox" <%=(docx.id.nil? && !err) ? "disabled" : "" %> name="docx[changes][]" value="<%=change.id%>" id="change-<%=change.id%>" data-id="<%=change.id%>" class="chxb <%=change.parent? ? "parent" : ""%>" >&nbsp;<%=change.to_s%>
                </label>
                <div class="ajax-load" id="ajax-<%=change.id%>"><%=t('app.docx.new.changing')%></div>
                &nbsp;<div id="ajax-status-change-<%=change.id%>" class="load-status"></div>
                <%change.childrens.each do |child|%>
                    <div class="checkbox block-checkbox child-checkbox">
                      <label id="label-change-<%=child.id%>">
                        <input type="checkbox" name="docx[changes][]" value="<%=child.id%>" id="change-<%=child.id%>" class="children chxb parent-<%=change.id%>" disabled>&nbsp;<%=child.to_s%>
                      </label>
                      <div class="ajax-load" id="ajax-<%=child.id%>"><%=t('app.docx.new.changing')%></div>
                      &nbsp;<div id="ajax-status-change-<%=child.id%>" class="load-status"></div>
                    </div>
                    <div class="cl"></div>
                <% end %>
              </div>
              <div class="cl"></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="cl"></div>
<% end %>
