<h1 class="newdoc"><%= t 'app.docx.new.title' %></h1>
<h1 class="changedocx"><%= t 'app.docx.edit.title' %></h1>
<%=link_to t('app.docx.new.btn'), new_docx_path, :class=>"btn btn-warning" , :id=>"new-docx-btn" %>
<%= form_for(@docx, html: { multipart: true,class: "form-inline" }, :remote => true) do |f| %>
    <%= render :partial => 'others/form_errors_attachment', :locals => {:object => f.object, :attachment=>"attachment"} %>
    <div class="form-group">
      <%= f.file_field :attachment, :class=>"form-control", :required=>true %>
    </div>

    <div class="form-group">
      <%= f.submit t('app.docx.new.submit'), :class=>"btn btn-warning" %>
      <div id="ajax-load"><%=t('app.docx.new.loading')%></div>
      <div id="ajax-status-attachment" class="load-status"></div>
    </div>
    <div class="cl"></div>
    <div class=" margin-top-20" id="download-link"></div>
    <div class="cl"></div>
    <div class=" margin-top-20" id="load-statuses"></div>

    <div class="cl"></div>
<% end %>
