<% if !@change.nil? and @change.errors.any? %>
    $("#load-statuses").append("<%= escape_javascript(  render :partial => 'docxes/statuses/box_status', :locals =>
        {:error=>true, :title=>@change.to_s, :text=> @change.errors.map{|err| err.to_s}.join(", ")} ) %>")
<% else
    if @next_change %>
        changes("<%=change_docx_path(@change.docx, @next_change.id)%>", "<%=@next_change.id%>")

<%  end %>
    $("#ajax-<%=@change.id%>").hide("slowly")
    var txt = "<%= escape_javascript(  render :partial => 'docxes/statuses/status' , :locals => {error: nil}) %>";
    $("#ajax-status-change-<%=@change.change.id%>").html(txt)
    $("#label-change-<%=@change.change.id%>").addClass("status alert-success")
    $("#change_btn").attr('disabled', true);
<% end %>


load()