<% if !@docx.nil? and @docx.errors.any? %>

    var content = "<%= escape_javascript(  render :partial => 'docxes/form' ) %>";
    $("#new-form").html(content)
    var content_edit = "<%= escape_javascript(  render :partial => 'docxes/changes_form' ) %>";
    $("#edit-form").html(content_edit)
<%elsif @changes.nil? || @changes.count==0%>

    var content = "<%= escape_javascript(  render :partial => 'docxes/form' ) %>";
    $("#new-form").html(content)
    $("#load-statuses").append("<%= escape_javascript(  render :partial => 'docxes/statuses/box_status', :locals =>
        {:error=>false, :title=>t('app.docx.status.attachment.title'), :text=>t('app.docx.status.attachment.ok')} ) %>")
    var content_edit = "<%= escape_javascript(  render :partial => 'docxes/changes_form' ) %>";
    $("#edit-form").html(content_edit)
<%else%>
    $("#new_docx .alert-danger").remove();
    $("#ajax-load").hide("slowly")
    var txt = "<%= escape_javascript(  render :partial => 'docxes/statuses/status' , :locals => {error: nil}) %>";
    $("#ajax-status-attachment").html(txt)
    $("#load-statuses").append("<%= escape_javascript(  render :partial => 'docxes/statuses/box_status', :locals =>
        {:error=>false, :title=>t('app.docx.status.attachment.title'), :text=>t('app.docx.status.attachment.ok')} ) %>")
    //spusteni uprav
    <% change = @docx_load.docx_changes.by_unused.first%>
    changes("<%=change_docx_path(@docx_load, change.id)%>", "<%=change.id%>")
<%end %>
//alert("<%=@changes ? @changes.join(",") : ""%>")
//if ()
load()