<% if @docx.attachment?%>
    $( "#load-statuses" ).after( "<div class='alert alert-danger' role='alert'> <strong><%=t 'app.docx.zip-error-title'%></strong> <%=t 'app.docx.zip-error'%></div>" );

<% else %>
    $("#load-statuses div").append('<br /><strong><%=t 'app.change.title' %>:</strong> <%=t('app.docx.status.changes.allok')%>')
    $("#download-link").html("<%= escape_javascript(  render :partial => 'docxes/statuses/download', :locals =>{:docx=>@docx} ) %>")
    var act_time = new Date().getTime();
    show_time();
<% end %>
$("input[type='checkbox']").attr("disabled", true)
$("#ajax-changing").hide()
load()