<p id="notice"><%= notice %></p>

<h1>Listing Docxes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @docxes.each do |docx| %>
      <tr>
        <td><%= link_to 'Show', docx %></td>
        <td><%= link_to 'Edit', edit_docx_path(docx) %></td>
        <td><%= link_to 'Destroy', docx, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Docx', new_docx_path %>
