
    $("#new_docx .alert-danger").remove();
    $("#ajax-load").hide("slowly")
    var txt = "<%= escape_javascript(  render :partial => 'docxes/statuses/status' , :locals => {error: nil}) %>";
    $("#ajax-status-attachment").html(txt)

    //spusteni uprav
    <% change = @docx_load.docx_changes.by_unused.first%>
    changes("<%=change_docx_path(@docx_load, change.id)%>", "<%=change.id%>")


load()