
<% if flash.any?
     is_hide=false

     flash.each do |key, value|
       is_hide = (!is_hide && (key.to_s=="alert" || key.to_s=="error" ))

       case key.to_s # a_variable is the variable we want to compare
         when "error"  %>
            <div class="alert alert-danger alert-dismissable">
              <i class="fa fa-ban"></i>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <b><%=t('app.others.flash.error')%></b> <%=value%>
            </div>
         <%when "alert"   %>
            <div class="alert alert-warning alert-dismissable">
              <i class="fa fa-warning"></i>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <b><%=t('app.others.flash.alert')%></b> <%=value%>
            </div>
        <%when "notice"   %>
            <div class="alert alert-info alert-dismissable noticealert">
              <i class="fa fa-info"></i>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <b><%=t('app.others.flash.notice')%></b> <%=value%>
            </div>
        <%when "success"   %>
            <div class="alert alert-success alert-dismissable noticealert">
              <i class="fa fa-check"></i>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <b><%=t('app.others.flash.success')%></b> <%=value%>
            </div>
        <% else  %>
            <div class="alert alert-info alert-dismissable noticealert">
              <i class="fa fa-info"></i>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <b><%=t('app.others.flash.notice')%></b> <%=value%>
            </div>
     <%  end

     end
     if !is_hide     %>
        <input type="hidden" id="ishide" value="1"/>
    <%  end   %>


<% end %>


