
<% if !object.nil? and object.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <i class="fa fa-ban"></i>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <b><%= t('app.others.form.errors.these') %> <%= object.errors.count %> <%= t('app.others.form.errors.stunting') %></b>
      <% object.errors.full_messages.each do |msg| %>
          <%= msg %><br />
      <% end %>
    </div>
<% end %>
