<% if !object.nil? and object.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <%#=@image.image_content_type%>

    <%
       errors = Array.new
       object.errors.each do |message|
         errors << message.to_s
       end%>
    <%if errors.include?("#{attachment}_content_type") || errors.include?(attachment)%>
        <div id="error_explanation">
          <ul class="errorslist">
            <li class="text-danger"><i class="fa fa-ban text-danger"></i> <%= t "app.#{object.class.name.downcase}.custom_error" %></li>
          </ul>
        </div>
    <%else%>
        <div id="error_explanation">
          <% count = object.errors.count %>
          <h4 class="text-danger"><%=count%> <%=t("errors.template.header.error#{(count>1 && count<5) ? "_less" : (count>5 ? "s": "")  }" ) %><%=t("errors.template.header.#{object.class.name.downcase}")%>:</h4>

          <ul class="errorslist">
            <% object.errors.full_messages.each do |message| %>
                <li><i class="fa fa-times text-danger"></i> <%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    </div>
<% end %>


