<%if error %>
    <div class="alert alert-danger" role="alert"> <strong><%=title%></strong> <%=text%></div>
<%else%>
    <div class="alert alert-success" role="alert"> <strong><%=title%></strong> <%=text%></div>
<%end%>