<div class="float-left download-change-link"><%=link_to t('app.docx.download'), docx.attachment.url(:change, false), :class=>"btn btn-info" %>&nbsp;
<%=t('app.docx.remaining')%>&nbsp;</div><div id="remaining" class="float-left download-change-link"></div>
<div id="expire"><%=t('app.docx.expire')%></div>

