// Place all the styles related to the Docxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-left-20{margin-left:20px}
.form-inline{
  .block-checkbox{display: block;padding: 5px;}
  .child-checkbox{margin-left: 20px;}
}
.panel-body{
  label{float: left;position: relative}
}
/*ajax status*/
.ajax-load{ margin-left:15px;
  display: none; height: 32px; color: #245580;
  background-image: url(image-path("layout/ajax-loader.gif"));
  background-repeat: no-repeat;line-height: 32px;
  background-position: left;float: left;position: relative;
  line-height: 32px;
  padding-left: 40px;}

.load-status{float: left;position: relative}
.status{background: none; border: none; font-weight: bold}
#new-docx-btn{display: none;margin-bottom: 10px;}
.changedocx, #expire{display: none}
.float-left{float: left;
  position: relative;}
#remaining{    line-height: 34px;font-weight: bold}
