// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.intro-section {
    height: 100%;
    padding-top: 100px;
}

#ajax-load, #ajax-download{
  display: none; height: 32px; color: #245580;
  background-image: url(image-path("layout/ajax-loader.gif"));
  background-repeat: no-repeat;background-position: right; line-height: 32px;
  padding-right: 35px;}
.errorslist{list-style-type: none;padding-left: 10px;}
.margin-top-20{margin-top:20px;}
.margin-bottom-20{margin-bottom:20px;}
p.typ{
  float: left;position: relative
}
.margin-top-20{margin-top:20px;}
p.info{/*float: left;position: relative;*/ padding-left:30px; font-style: italic}

#ajax-download{float:left;position: relative}
.cl{clear: both}

#error-drm{
  display:none;
  position:fixed;
  top:40%;
  left:40%;
  margin:auto;
  width:360px;
  background:white;
  border:2px solid #520e6d;
  z-index: 100;
  font-size:150%;
  line-height: 150%;
  padding:1px;
  .hlaseni2{
    margin:20px;
    color:red;}
  .zavsihlaseni{
    position:absolute;
    top:-5px;
    right:5px;
    font-size:10px;
    cursor: pointer;
  }
}

