// Place all the styles related to the Intro controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo{width:50px; height: 50px;background-image:url(image-path("layout/logo.png"));}
.navbar-brand {padding: 0}
.intro-section{text-align: left}