<%= form_for(@manuscript_load, :url=> docx_manuscript_path(@manuscript_load), :remote => true) do |f| %>
  <%#= render :partial => 'others/form_errors_attachment', :locals => {:object => f.object, :attachment=>"docx"} %>
  <div class="form-group">
        <%=button_tag :type=>"submit",  :class=>"btn btn-primary btn-download" do %>
            <%=t('app.manuscript.show.docx')%>&nbsp;<i class='fa fa-download'></i>
        <% end %>
      <div id="ajax-download-div">
        <div id="ajax-download"><%=t('app.manuscript.show.downloading')%></div>
        <div class="cl"></div>
      </div>
  </div>
    <div class="form-group">
      <strong><%= t 'activerecord.attributes.manuscript.docx_file_name'%>: </strong>
      <%=@manuscript_load.docx_file_name%>
      <%=f.hidden_field :docx_file_name%>
      <%=f.hidden_field :docx_content_type%>
    </div>
    <div class="form-group">
      <%= f.label :html %>
      <%= f.cktext_area :html, :rows=>50,:class=>"form-control", :ckeditor => {:language => 'cs'}%>
    </div>

<% end %>
