<%= form_for(@manuscript, html: { multipart: true,class: "form-inline" }) do |f| %>
  <%= render :partial => 'others/form_errors_attachment', :locals => {:object => f.object, :attachment=>"docx"} %>
  <div class="form-group">
    <%= f.file_field :docx, :class=>"form-control", :required=>true %>
  </div>
 
  <div class="form-group">
    <%= f.submit t('app.manuscript.new.submit'), :class=>"btn btn-warning" %>
    <div id="ajax-load"><%=t('app.manuscript.new.loading')%></div>
  </div>
<% end %>
