
var content = "<%= escape_javascript(  render :partial => 'manuscripts/form' ) %>";

$("#new-form").html(content);
<% if @manuscript_load %>
content_show = "<%#= escape_javascript(  render :partial => 'manuscripts/show' ) %>";

$("#show-manuscript").html("tests<%=@html%>");
<% else  %>
$("#show-manuscript").html("nic...");
<%end %>
load_manuscript()