<% if @error%>
show_error("<%=t('app.manuscript.show.download_error') %>")
$(".btn-download").show("slowly")
$("#ajax-download-div").hide("slowly")
<% else %>
//show_error("<%=t('app.manuscript.show.download_error') %>")
//$(".progress-label").html("<%= t 'drm.title-load' %>")

$.fileDownload('<%=download_manuscript_path(params[:id], :file=> @file)%>', {
    successCallback: function (url) { $("#manuscripts-form").html("") },
    failCallback: function (url) {
        console.log(url)
        show_error("<%= t 'app.manuscript.show.download_error' %>") }
});
<% end %>