<%= render 'new' %>

<% if @download%>
<script type="text/javascript">
    $.fileDownload('<%=download_download_path(params[:code],params[:link])%>', {
        successCallback: function (url) {$('#downloaddiv').dialog('close'); },
        failCallback: function (url) {
            console.log(url)
        show_error("<%= t 'drm.download-error' %>") }
        });
</script>
<% end %>
   <div id="show-manuscript">
  <%#= cktext_area_tag "notes", Manuscript.last.html, :class => 'someclass', :ckeditor => {:language => 'cs'} %>
</div>
