<%= render 'new' %>
<div class="row  margin-top-20">
  <% if @error%>
    <div class="alert alert-danger alert-dismissable">
      <i class="fa fa-ban"></i>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <%= t 'app.manuscript.show.download_error'%>
    </div>
  <% end %>
</div>
<div class="row margin-top-20" id="manuscripts-form"><%=render :partial => 'manuscripts/form_html' %></div>
<div class="clear"></div>




