<%= form_for(@image, html: { multipart: true,class: "form-inline" }, :remote => true) do |f| %>
<% #width, height = @image.dimensions%>
<%#="#{width}|#{height}"%>

  <% if @image.errors.any? %>
   <%#=@image.image_content_type%>
   <%=puts "KWOK #{@image.errors}"%>
    <%
    errors = Array.new
    @image.errors.each do |message|        
      errors << message.to_s 
     end %>
    <%if errors.include?("image_content_type") || errors.include?("image")%>
      <div id="error_explanation">      
        <ul class="errorslist">             
          <li class="text-danger"><i class="fa fa-times text-danger"></i> <%= t 'app.image.show.custom_error' %></li>      
        </ul>      
      </div>
    <%else%>
      <div id="error_explanation">
      <% count = @image.errors.count %>
      <h4 class="text-danger"><%=count%> <%=t("errors.template.header.error#{(count>1 && count<5) ? "_less" : (count>5 ? "s": "")  }" ) %><%=t('errors.template.header.image')%>:</h4>
            
      <ul class="errorslist">
        <% @image.errors.full_messages.each do |message| %>        
          <li><i class="fa fa-times text-danger"></i> <%= message %></li>
      <% end %>
      </ul>
      </div>
    <% end %>  
  <% end %>

  <div class="form-group">
    <%= f.file_field :image, :class=>"form-control", :required=>true %>
  </div>
 
  <div class="form-group">
    <%= f.submit t('app.image.new.submit'), :class=>"btn btn-warning" %>
    <div id="ajax-load"><%=t('app.image.new.loading')%></div>
  </div>
<% end %>
