
<table class="table table-hover margin-top-20 margin-bottom-20">
  <tr class="info">
    <th scrope="row" ><%=t 'app.image.show.name'%></th>
    <td>
      <%=@image_load.image_file_name%>
    </td>    
  </tr>
  <tr class="<%=row_format(@image_load)%>">
    <th scrope="row" ><%=t 'app.image.show.content_type'%></th>
    <td>
      <%=image_type @image_load%>     
    </td>    
  </tr>
  <tr class="<%=row_format(@image_load)%>">
    <th scrope="row"><%=t 'app.image.show.note'%></th>
    <td><%=image_note @image_load%> </td>
  </tr>
  <% if @image_load.vector? %>
    <tr>
      <th scrope="row"><%=t 'app.image.show.px'%></th>
      <td>—</td>
    </tr>
    <tr>
      <th scrope="row"><%=t 'app.image.show.dpi'%></th>
      <td><%="—, <strong>#{t('app.image.show.vector')}</strong>"%></td>
    </tr>
    <tr>
      <th scrope="row"><%=t 'app.image.show.dpi_cm'%></th>
      <td>—</td>
    </tr>
  <%else%>
    <tr>
      <th scrope="row"><%=t 'app.image.show.px'%></th>
      <td><%=dimension(@image_load)%></td>
    </tr>
    <tr>
      <th scrope="row"><%=t 'app.image.show.dpi'%></th>
      <td><%=@image_load.dpi%></td>
      <%#=@image_load.dpi%><%#= ", <strong>#{t('app.image.show.vector')}</strong>".html_safe if @image_load.vector? %>
    </tr>
    <tr>
      <th scrope="row"><%=t 'app.image.show.dpi_cm'%></th>
      <td><%=dpi_cm(@image_load)%></td>
    </tr>
  <%end%>
  <%# if !@image_load.vector? %>
    
  <% #end %>   
</table>
<div ><%#= image_tag @image_load.image.url %></div>

