
var content = "<%= escape_javascript(  render :partial => 'images/form' ) %>";
$("#new-form").html(content);
<% if @image_load %>
  content = "<%= escape_javascript(  render :partial => 'images/show' ) %>";
  $("#show-image").html(content);
 <% else  %> 
  $("#show-image").html("");
<%end %>
  load( )