<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @image.token %>
</p>

<p>
  <strong>Download:</strong>
  <%= @image.download %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
