<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav">
    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
    <li class="hidden">
      <a class="page-scroll" href="#page-top"></a>
    </li>
    <li>
      <a class="page-scroll" title="<%=t('app.menu.images')%>" href="/"><%=t('app.menu.images')%></a>
    </li>
    <li><%=link_to t('app.menu.docxes') , new_docx_path, :class=>"", :title=>t('app.menu.docxes')%></li>

    <li>
      <a class="page-scroll" href="#contact">Contact</a>
    </li>
    <li>
      <a class="page-scroll" href="#about">About</a>
    </li>
  </ul>
</div>